:root {
    --primary-color: forestgreen;
    --secondary-color: darkblue;
    --accent1-color: slateblue;
    --accent2-color: gold;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Area, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}