:root {
    --primary-color: forestgreen;
    --secondary-color: darkblue;
    --accent1-color: slateblue;
    --accent2-color: gold;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Area, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);

}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: #fff;
}

article  {
    position: relative;
    margin: 0;
    background-color: var(--secondary-color);
    color: antiquewhite;

}

.hero article img {
    float: right;
    width: 125px;
    border: 2px;
    margin: 0;
    box-shadow: 2px;
}

h2 {
    text-align: center;
    color: #fff;
    background-color: var(--secondary-color);
    padding: 12px;
    border-radius: 10px;
    
}
