:root {
    --primary-color: forestgreen;
    --secondary-color: darkblue;
    --accent1-color: slateblue;
    --accent2-color: gold;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Area, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: white;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 1rem 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);

}

header, main, footer {
    width: 840px;
    margin: 0 auto;
   
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}


.socialmedia a {
    text-decoration: none; 
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--secondary-color);
    color: #fff;
}

article  {
    position: absolute;
    margin: 0;
    background-color: rgba(0,0,139,0.85);
    color: #fff;
    top: 180px;
    opacity: 1;
    width: 100%;
    float: right;
}

.hero article img {
    float: right;
    width: 125px;
    border: 2px;
    margin: 0;
    box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    color: black;
    border-radius: 10px;
    width: auto;
    
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 0;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0;
}

nav a { display: block;
    padding: 0.5rem 1.2rem;
    text-decoration: none;
    border: 1px solid;
    background-color: #fff;
    font-weight: bold;

}

nav li:not(:last-child) a {
    border-right: none;
}

footer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: rgb(179,134,141);
    padding: 0 1rem;
    color: #111;
    height: 65px;
    
      
}

footer p {
    margin: 0;
    font-weight: bold;
    font-size: 0.9rem;
}

footer .socialmedia {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    align-items: center; 
    border-color: var(--primary-color); 
    padding: 5px;
    border-radius: 30px;
}

section h2 {
    height: 30px;
}

.history p {
    font-size: 0.8rem;
    text-align: start;
    color: #1a1423;
}

.history {
    padding: 2rem;
    background: white;
    height: 340px;
}

.history h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: black;
}

.history-grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1rem;
    align-items: center;
}

.history-grid img {
    max-width: 220px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
    height: 170px;
}

.adventures {
    padding: 2rem;
    background: #eee;
}

.adventures h2 {
    text-align: center;
    margin-bottom: 0.7rem;
    color: #1a1423; /*navy blue */
}

.adventures-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
}
   
.adventures-gallery figure {
    background: white;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 5px rgb(0,0,0,0.1);
}

.adventures-gallery img {
    width: 100%;
    height: 100px;
}

.adventures-gallery figcaption {
    padding: 0.7rem;
    font-size: 0.7rem;
    color: white;
    background: #046;
    height: 40px;   
}









